* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px; 
    height: 8%;  
}

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.column {
    float: left;
    padding: 10px;

    height: 600px;
}

.left, .right {
    width: 33%;
    background-color: rgb(240, 240, 240);
}

.right {
    color: rgb(0, 0, 0);
}

.middle {
    width: 33%;
    background-color: rgb(230, 230, 230);
}